body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 255);
}

.loading {
background: rgb(235, 66, 62);
height: 100%;
width: 100%;
position: absolute;
margin: 0;
padding: 0;
z-index: 10;
animation-name: loadingani;
animation-duration: 1000s;
animation-fill-mode: both;
text-align: center;
align-content: center;
}

.container {
height: 100%;
width: 100%;
position: absolute;
text-align: center;
align-content: center;
z-index: 100;
}


.loading1 {
  margin-top: 45vh;
  position:relative;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-decoration: underline;
  text-transform: lowercase;
  font-size: 20px;
  animation-name: changeopacity;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: 3;
  z-index: 100;
}

.loading2 {
  margin-top: 45vh;
  position:relative;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: lowercase;
  font-size: 20px;
  animation-name: changeopacity;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-delay: 6s;
  z-index: 100;
}

.loading3   {
  margin-top: 45vh;
  position:relative;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: lowercase;
  font-size: 20px;
  animation-name: changeopacity;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-delay: 9s;
  z-index: 100;
}

.loading4   {
  margin-top: 45vh;
  position:relative;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: lowercase;
  font-size: 20px;
  animation-name: changeopacity;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-delay: 9.5s;
  z-index: 100;
}

.loading5   {
  margin-top: 45vh;
  position:relative;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: lowercase;
  font-size: 20px;
  animation-name: changeopacity;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-delay: 10s;
  z-index: 100;
}

.loading6   {
  margin-top: 45vh;
  position:relative;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: lowercase;
  font-size: 20px;
  animation-name: changeopacity;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-delay: 10.5s;
  z-index: 100;
}

.loading7   {
  margin-top: 45vh;
  position:relative;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: lowercase;
  font-size: 20px;
  animation-name: changeopacity;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-delay: 11.5s;
  z-index: 100;
}

.loading8   {
  margin-top: 45vh;
  position:relative;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: lowercase;
  font-size: 20px;
  animation-name: changeopacity;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-delay: 12.5s;
  z-index: 100;
}

.loading9   {
  margin-top: 45vh;
  position:relative;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 20px;
  animation-name: changeopacity;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-delay: 13.5s;
  z-index: 100;
}


@keyframes changeopacity {
0% {opacity: 0;}
50% {opacity: 1;}
100% {opacity: 0;}
}

@keyframes loadingani {
0% {opacity: 1;}
99% {opacity: 1;}
100% {opacity: 0;}
}


#photos{
    width:110px;
    height:180px;
    border:1px solid #ccc;
    margin: auto;
    margin-top: 20vh;
    transform:rotateY(0deg);
    transform-style:preserve-3d;
transform:rotateX(-10deg);
    z-index: 200;
}

.persp {
  perspective:800px;
      z-index: 200;
}

#photos img{
    width:100%;
    height:100%;
    position:absolute;
    box-shadow:0 0 8px #eaeaea;
    box-shadow: 1px -1px 6px #666;
    border-radius:4px;
    -webkit-box-reflect:below 3px -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,0.5));
    cursor:pointer;
    z-index: 200;
}

button {
  margin-top: 45vh;
  position:relative;
  text-align: center;
  text-transform: uppercase;
  animation-name: buttonshow;
  animation-duration: 10000s;
  animation-fill-mode: both;
  animation-delay: 15s;
  z-index: 100;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  background:#ec6562;
color:rgb(235, 66, 62);
border-color: #ec6562;
}

@keyframes buttonshow {
0% {opacity: 0;}
0.01% {opacity: 1;}
99% {opacity: 1;}
100% {opacity: 0;}
}

button:hover{
  background:rgb(235, 66, 62);
color:rgb(255, 255, 255);
  text-decoration: line-through;
}

.screen {
height: 100%;
width: 100%;
position: absolute;
background-image: url("screen.png");
background-repeat: no-repeat;
text-align: center;
}

.intro {
  margin-top: 40vh;
  position: relative;
  font-family: 'Krub', sans-serif;
}

@media only screen and (max-width: 700px) {
}


.panel66 {
    position: relative;
      left: -5vw; /*or width of your navigation panel*/
    width: 10vw; /*should match the above value*/
    height: 100vh;

}

.conta {
  top:0;
  left:0;
  width: 5vw;
  height: 100vh;
  position: absolute;
  /* margin-top: -95vh; */
  float: left;
  /* background-color: rgb(255, 0, 0); */
}


.panel66 {
    background: #101820;
            z-index: 2000;
}

.panel66 a {
    color: rgb(255, 255, 255);
        z-index: 2000;
}

.lili {
  color: rgb(255, 255, 255);
}


.menu-link {
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 40px;
  z-index: 9999;
}

.wrap.push{
    position: absolute;
}

nav {
  margin: 0;
  padding: 0;
  position: absolute;
}
